[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=WorshipExtreme Presenter
Comment=Church Presentation Software by WE
Exec=worship-extreme-presenter.AppImage
Icon=worship-extreme-presenter.png
Terminal=false
Type=Application
StartupNotify=true
Name[en_US]=WorshipExtreme Presenter
